/* Bodona Moda */
/* bodoni-moda-regular - latin */
/* bodoni-moda-regular - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Bodoni Moda';
     font-style: normal;
     font-weight: 400;
     src: url('/fonts/bodoni-moda-v19-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('/fonts/bodoni-moda-v19-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* bodoni-moda-italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Bodoni Moda';
font-style: italic;
font-weight: 400;
src: url('/fonts/bodoni-moda-v19-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
     url('/fonts/bodoni-moda-v19-latin-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bodoni-moda-700 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Bodoni Moda';
font-style: normal;
font-weight: 700;
src: url('/fonts/bodoni-moda-v19-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
     url('/fonts/bodoni-moda-v19-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bodoni-moda-700italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Bodoni Moda';
font-style: italic;
font-weight: 700;
src: url('/fonts/bodoni-moda-v19-latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
     url('/fonts/bodoni-moda-v19-latin-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* M Plus 2 */
/* m-plus-2-regular - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'M PLUS 2';
     font-style: normal;
     font-weight: 400;
     src: url('/fonts/m-plus-2-v6-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('/fonts/m-plus-2-v6-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
/* m-plus-2-700 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'M PLUS 2';
font-style: normal;
font-weight: 700;
src: url('/fonts/m-plus-2-v6-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
     url('/fonts/m-plus-2-v6-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
