/* color palette from <https://github.com/vuejs/theme> */
:root {
  --header-height: 6rem;
  --header-lateral-elements-width: 8rem;
  --header-lateral-elements-width: 5rem;
  --header-color: hsl(0, 0%, 100%);
  --color-fly-out: hsl(46,31%, 98%);
  
  // Layout / Structure
  --content-width: 78rem;
  --exhibits-width: 84rem;
  --component-gap: 4rem;
  --component-y-padding: 4rem;
  --tile-min-height: calc(100vh - var(--header-height));
  --section-gap: 160px;

  // Colors

  --color-text: rgb(20,20,20);
  --color-text-inverse: hsl(0,0%,96%);
  --color-text-inverse-highlighted: hsl(0,0%,86%);
  --secondary-light: hsl(206, 48%, 68%);
  --secondary-normal: hsl(206, 48%, 32%);
  --secondary-dark: hsl(206, 48%, 28%);
  --color-dark-ultra: hsl(0,0%,0%);
  --color-background-dark: hsl(0,0%,0%);

  // Typography

  --font-primary: 'Monserrat';
  --font-size-small: .75rem;
  --font-size-normal: .85rem;
  --font-size-large: 1rem;

  --font-size-h1: 1.75rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-h4: 1.1rem;

  // Titel-Kachel der Aussstellung
  --font-size-h1-front: 1.5rem;
  --font-size-h2-front: 1.125rem;
  --font-size-h3-front: 1.25rem;

  --line-height-h1: 1.3;
  --line-height-h2: 1.4;
  --line-height-h3: 1.5;
  --line-height-h4: 1.6;

  --line-height-normal: 1.6;
  --line-height-small: 1.4;
  --line-height-large: 1.8;

}



@media (min-width: 480px) {
  :root {

    --header-lateral-elements-width: 10rem;
    // typography
    --font-size-small: 1rem;
    --font-size-normal: 1.125rem;
    --font-size-large: 1.125rem;
    
  }
}
@media (min-width: 768px) {
  :root {
    --header-height: 7.5rem;
    --header-lateral-elements-width: 12rem;
    
    // typography
    --font-size-small: 1rem;
    --font-size-normal: 1.25rem;
    --font-size-large: 1.5rem;

    --font-size-h1: 1.75rem;
    --font-size-h2: 3.5rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.1rem;

    // Titel-Kachel der Aussstellung
    --font-size-h1-front: 3.5rem;
    --font-size-h2-front: 1.75rem;
    --font-size-h3-front: 1.25rem;
  }
}
@media (min-width: 1024px) {
  :root {
    --header-lateral-elements-width: 14rem;
    // typography

  }
}
@media (min-width: 1200px) {
  :root {
    --header-lateral-elements-width: 18rem;
    // typography

  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
