/* color palette from <https://github.com/vuejs/theme> */
:root {
  --header-height: 7.5rem;
  --header-lateral-elements-width: 8rem;
  --header-color: hsl(0, 0%, 100%);
  --color-fly-out: hsl(46,31%, 98%);
  
  // Layout / Structure
  --content-width: 78rem;
  --exhibits-width: 84rem;
  --component-gap: 4rem;
  --component-y-padding: 4rem;
  --tile-min-height: calc(100vh - var(--header-height));
  --section-gap: 160px;

  // Colors

  --color-text: rgb(20,20,20);
  --color-text-inverse: hsl(0,0%,96%);
  --color-text-inverse-highlighted: hsl(0,0%,86%);
  --secondary-light: hsl(206, 48%, 68%);
  --secondary-normal: hsl(206, 48%, 32%);
  --secondary-dark: hsl(206, 48%, 28%);
  --color-dark-ultra: hsl(0,0%,0%);

  // Typography

  --font-primary: 'Monserrat';
  --font-size-small: .75rem;
  --font-size-normal: .85rem;
  --font-size-large: 1rem;

}


@media (min-width: 480px) {
  :root {
    --font-size-small: 1rem;
    --font-size-normal: 1.125rem;
    --font-size-large: 1.25rem;
    --header-lateral-elements-width: 10rem;
  }
}
@media (min-width: 768) {
  :root {
    --font-size-small: 1rem;
    --font-size-normal: 1.25rem;
    --font-size-large: 1.5rem;
    --header-lateral-elements-width: 12rem;
  }
}
@media (min-width: 1024px) {
  :root {
    --header-lateral-elements-width: 14rem;

  }
}
@media (min-width: 1200px) {
  :root {
    --header-lateral-elements-width: 18rem;

  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
