@import './base.scss';
@import './fonts.scss';

body {
  font-family: 'M PLUS 2', sans-serif;
  line-height: 1.25rem;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4 {
  font-family: 'Bodoni Moda', sans-serif;
  margin-bottom: 1rem;
  line-height: 1.25;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

main {  
  margin-top: var(--header-height);
  .page {
    margin: 0 auto;
    // margin-top: var(--header-height);
    padding: 2rem;
    max-width: 74rem;
    &.centered {
      max-width: 74rem;
    }
    &.full {
      max-width: none;
    }
    &.single-column {
      max-width: none;
    }

    .content {
      display: block;
    }
    aside {
      display: none;
    }  
  }
}


@media (min-width: 1024px) {

}
